#sidebar{
    width: 17vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
}
#main_nav_table{
    border-spacing: 10px;
    height: fit-content;
    width: calc( 100% + 3px );
    /* background-color: pink; */
}
#main_logo{
    height: auto;
    width: 95%;
}
#nav_table{
    position: relative;
    top: 2rem;
    left: 3px;
    border-spacing: 1px;
}
.nav_button_container{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 2rem;
    width: fit-content;
    padding: 5px 5px 5px 5px;
    color: white;
}
.nav_button_container:hover{
    cursor: pointer;
    color: rgb(63, 63, 63);
    background-color: rgb(218, 218, 218);
}
.nav_button{
    font-size: 1.5rem;
    font-weight: 100;
}